.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  .logoImage {
    width: 250px;
    height: auto;
    transition: transform 0.3s ease;
  }

  &:hover .logoImage {
    transform: scale(1.1);
  }
}

.buttons {
  button {
    margin-left: 10px;
  }

  a {
    text-decoration: none;
  }
}



