.container {
  padding: 30px;
  border: 1px solid #000;
  background-color: #fff;
  border-radius: 20px;
  
}

.imageControls {
  display: flex;
  align-items: center;
  gap: 20px; 
  padding-bottom: 20px;
}

.uploadButton {
  padding: 10px 15px;
  cursor: pointer;
  background-color: #466a1b;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  color: #fff;
  border: 5px solid #fff;
  font-size: 16px;
  font-weight: 900;
  text-transform: uppercase;

  &:hover {
    background-color: #fff;
    color: #466a1b;
    border: 5px solid #466a1b;
  }
}

.removeButton {
  padding: 15px;
  background-color: #f70505;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  color: #fff;
  font-size: 16px;
  font-weight: 900;
  text-transform: uppercase;
  border: 5px solid #fff;

  &:hover {
    background-color: #fff;
    color: #f70505;
    border: 5px solid #f70505;
  }
}

.image {
  width: 100%;
}

.title {
  input {
    font-size: 42px;
    font-weight: 900;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
  }
}

.tags {
  margin: 15px 0;

  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
  }
}

.editor {
  margin: 30px -30px;

  :global {
    .cm-s-easymde {
      border: 0;
      font-size: 22px;
    }
    .editor-toolbar {
      border: 0;
      background-color: rgb(0 0 0 / 2%);
    }
  }
}

.buttons {
  display: flex;

  button {
    margin-right: 15px;
    padding: 10px 15px;
  }
}

.submitButton {
  background-color: #466a1b;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  color: #fff;
  border: 5px solid #fff;
  font-size: 16px;
  font-weight: 900;
  text-transform: uppercase;

  &:hover {
    background-color: #fff;
    color: #466a1b;
    border: 5px solid #466a1b;
  }
}

.cancelButton {
  background-color: #f70505;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  color: #fff;
  font-size: 16px;
  font-weight: 900;
  text-transform: uppercase;
  border: 5px solid #fff;

  &:hover {
    background-color: #fff;
    color: #f70505;
    border: 5px solid #f70505;
  }
}
